@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  width: 100%;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
